/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Permanent+Marker&family=Sixtyfour&display=swap');

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  margin: 0; 
  padding: 0; 
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: start; 
}

.headline {
  position: absolute;
  top: 50%;
  left: 20px; 
  transform: translateY(-50%);
}

.headline h3 {
  margin: 5px 0;
  color: aliceblue;
  font-family: 'Inter', sans-serif;
  font-size: 55px;
}

.header {
  position: absolute;
  top: -340px;
  left: 0;
  right: 0;
  text-align: center;
}

.header h4 {
  font-family: 'Sixtyfour', sans-serif;
  color: #7453bf;
  font-size: 99px;
  margin: 0;
  padding:30px;
}


.border-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 290px;
  transform: translate(-50%, -50%);
  background-color: #4964d2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-box h2 {
  color: #a9ddff;
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
}

.Login {
  width: 19em;
  height: 3em;
  line-height: 2em;
  margin-bottom: 20px;
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  display: block; 
}

.Register {
  width: 19em;
  height: 3em;
  line-height: 2em;
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  display: block; 
}


.Login:hover, .Register:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.Login:before, .Register:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.Login:hover::before, .Register:hover::before {
  filter: blur(20px);
}

.Login:active, .Register:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
